<?php
DB::$user = 'USERNAME';
DB::$password = 'PASSWORD';
DB::$dbName = 'DB_NAME';
DB::$host = 'DB_HOST'; //defaults to localhost if omitted
DB::$port = 'DB_PORT'; // defaults to 3306 if omitted
DB::$encoding = 'utf8'; // defaults to latin1 if omitted
?>